ENV["TITLE"] = "" # web browser title
ENV["LOGO_URI"] = "" # logotipo url
ENV["ROOT_URI"] = "" # cas-auth root uri
ENV["MAILER_FROM"] = "" # postmark sender signature
ENV["AWS_ACCESS_KEY_ID"] = "" # aws
ENV["AWS_SECRET_ACCESS_KEY"] = "" # aws
ENV["S3_HOST_NAME"] = "" # aws s3
ENV["S3_BUCKET_NAME"] = "" # aws s3
ENV["POSTMARK_API_KEY"] = "" # postmark
ENV["SMSGATEWAY_PASSWORD"] = "" # smsgateway
ENV["SMSGATEWAY_EMAIL"] = "" # smsgateway
ENV["SMSGATEWAY_DEVICE"] = "" # smsgateway