ENV["MAILER_FROM"] = ""
ENV["ROOT_URI"] = ""
ENV["AWS_ACCESS_KEY_ID"] = ""
ENV["AWS_SECRET_ACCESS_KEY"] = ""
ENV["S3_HOST_NAME"] = ""
ENV["S3_BUCKET_NAME"] = ""
ENV["POSTMARK_API_KEY"] = ""
ENV["SMSGATEWAY_PASSWORD"] = ""
ENV["SMSGATEWAY_EMAIL"] = ""
ENV["SMSGATEWAY_DEVICE"] = ""