ENV["TITLE"] = ""
ENV["LOGO_URI"] = ""
ENV["ROOT_URI"] = ""
ENV["NOTIFIER_API_URI"] = ""
ENV["NOTIFIER_TOKEN"] = ""
ENV["MAILER_FROM"] = ""
ENV["AWS_ACCESS_KEY_ID"] = ""
ENV["AWS_SECRET_ACCESS_KEY"] = ""
ENV["S3_HOST_NAME"] = ""
ENV["S3_BUCKET_NAME"] = ""
